.bg{
     width: 100vw;
     height: 100vh;
     background-color: rgb(1, 1, 18);
}

.container{
     max-width: 1200px;
     color: white;
     margin: 0 auto;
}

.WhatisPencp{
     margin-top: 1rem;
}

.WhatisPencp p{
     margin-top: 0.5rem;
}

.WhatisPencp ol{
     margin-top: 0.5rem;
     margin-left: 1.5rem;
}

.WhatisPencp ol li{
     margin-top: 0.5rem;
}

.PencpThink{
     margin-top: 1rem;
}

.PencpThink p{
     margin-top: .5rem;
}

@media screen and (max-height:800px) and (max-width:700px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 385vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

@media screen and (max-width: 600px) {
     .bg{
          height: 275vh;
     }
     .container{
          max-width: 400px;
          color: white;
          margin: 0 auto;
     }
}

@media screen and (max-width: 800px) {
     .bg{
          height: 185vh;
     }
     .container{
          max-width: 600px;
          color: white;
          margin: 0 auto;
     }
}

@media screen and (max-width: 1000px) {
     .bg{
          height: 185vh;
     }
     .container{
          max-width: 600px;
          color: white;
          margin: 0 auto;
     }
}

@media screen and (max-width: 1200px) {
     .bg{
          height: 205vh;
     }
     .container{
          max-width: 700px;
          color: white;
          margin: 0 auto;
     }
}


 @media screen and (max-width:600px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 235vh;
     }
     .container{
          max-width:80vw;
     }
 }

  @media screen and (max-width:500px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 165vh;
     }
     .container{
          max-width:80vw;
     }
 }

 @media screen and (max-width:400px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 185vh;
     }
     .container{
          max-width:80vw;
     }
 }

 @media screen and (max-width:360px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 225vh;
     }
     .container{
          max-width:80vw;
     }
 }

 @media screen and (max-height:1200px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 70vh;
     }
     .container{
          max-width:80vw;
     }
 }
 @media screen and (max-height:1100px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 115vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen and (max-height:1400px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 165vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.8em;
     }
 }

 @media screen and (max-height:800px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 225vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen and (max-height:700px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 205vh;
     }
     .container{
          height: 200vh;
          max-width:80vw;
          font-size: 1.2em;
     }

     .container h1{
          font-size: 1.4em;
     }
 }

 @media screen and (max-height:1000px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 225vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen and (max-height:600px) and (max-width:1100px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 155vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen and (max-height:700px) and (max-width:400px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 185vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }
 @media screen and (max-height:800px) and (max-width:1300px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 100vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen  and (max-width:1400px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 110vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }

 @media screen and (max-width:600px) {
     .bg{
          background-color: rgb(1, 1, 18); 
          height: 265vh;
     }
     .container{
          max-width:80vw;
          font-size: 1.2em;
     }
 }